*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 23%;
    background-color: #1C1D22;
}

.btn {
    height: 40px;
    width: 75px;
    margin: 10px;
    cursor: pointer;
    border: 1px solid black;
}

.Notification {
    position: fixed;
    top: 30px;
    right: 20px;
}

.toast {
    position: relative;
    padding: 10px;
    color: #fff;
    margin-bottom: 10px;
    width: 400px;
    display: grid;
    grid-template-columns: 70px 1fr 70px;
    border-radius: 5px;
    --color: #0abf30;
    background-image: linear-gradient(to right, #0abf30, #22242f 30%);
    animation: show 0.3s ease 1 forwards;
}

.toast i {
    color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.toast .title {
    font-size: 27px;
    font-weight: bold;
}

@keyframes show {
    0% {
        transform: translateX(100%);
    }

    40% {
        transform: translateX(-5%);
    }

    80% {
        transform: translateX(0%);
    }

    100% {
        transform: translateY(-10%);
    }
}

.toast::before {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--color);
    width: 100%;
    height: 3px;
    content: '';
    box-shadow: 0 0 10px var(--color);
    animation: timeout 5s linear 1 forwards;
}

@keyframes timeout {
    to {
        width: 0;
    }
}

.toast.error {
    --color: #f24d4c;
    background-image:
        linear-gradient(to right, #f24d4c55, #22242F 30%);
}

.toast.warning {
    --color: #e9bd0c;
    background-image:
        linear-gradient(to right, #e9bd0c55, #22242F 30%);
}

.toast.info {
    --color: #3498db;
    background-image:
        linear-gradient(to right, #3498db55, #22242F 30%);
}
